<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Job Recommendation </title>

    <style>

        body{
            background-image: linear-gradient(to left,#ad5389,#3c1053);
        }



    </style>

</head>
<body>

    <div style="text-align: center; margin-top: 15%; ">

        <h1 style="margin-left: -6%; color: white;"><b> NLP Job Recommendation </b></h1>
            <div>
                <form method="POST">
                    <input style="font-size: 18pt; height: 200px; width:600px;border: 2px solid white;" name="text">
                    <button type="submit"  style="height: 50px; width:100px; border: 2px solid white;"> SEARCH </button>
                </form>
        
            </div>
        </div>
        
</body>
</html>